/** Applications ***************************************/
.appbox {
	margin : 15px 0px 0px 25px;
}

.app_fox, .app_telegram, .app_remmina, .app_terminal,
.app_files, .app_geany, .app_code, .app_gimp, .app_vbox {
    background-repeat: no-repeat;
	background-size: 64px;
	min-height: 64px;
	min-width: 64px;
	margin: 8px 8px 0px 8px;
}

.app_fox {}
.app_telegram {}
.app_remmina {}
.app_terminal {}
.app_files {}
.app_geany {}
.app_code {}
.app_gimp {}
.app_vbox {}

