/** Home folders ***************************************/
.hddbox {
  background-color: #3a404c;
  border-radius: 10px;
  margin: 15px;
}
.hddicon {
  color: #81a1c1;
  font-family: DejaVuSansMono Nerd;
  font-size: 70px;
  font-weight: normal;
  margin: 25px 20px 25px 40px;
}
.hdd_label {
  color: #e5e9f0;
  font-size: 48px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}
.fs_sep {
  color: #2e3440;
  font-size: 36px;
  font-weight: bold;
}

.iconfolder1,
.iconfolder2,
.iconfolder3,
.iconfolder4,
.iconfolder5,
.iconfolder6 {
  font-family: Iosevka Nerd Font;
  font-size: 32px;
  font-weight: normal;
  margin: 0px 0px 0px 75px;
}
.iconfolder1 {
  color: #bf616a;
}
.iconfolder2 {
  color: #a3be8c;
}
.iconfolder3 {
  color: #ebcb8b;
}
.iconfolder4 {
  color: #81a1c1;
}
.iconfolder5 {
  color: #b48ead;
}
.iconfolder6 {
  color: #88c0d0;
}

.label_folder1,
.label_folder2,
.label_folder3,
.label_folder4,
.label_folder5,
.label_folder6 {
  font-size: 22px;
  font-weight: normal;
  margin: 0px 0px 0px 30px;
}
.label_folder1 {
  color: #bf616a;
}
.label_folder2 {
  color: #a3be8c;
}
.label_folder3 {
  color: #ebcb8b;
}
.label_folder4 {
  color: #81a1c1;
}
.label_folder5 {
  color: #b48ead;
}
.label_folder6 {
  color: #88c0d0;
}
