/** Links ***************************************/
.iconweb,
.iconmail {
  color: #ffffff;
  font-family: DejaVuSansMono Nerd;
  font-size: 70px;
  font-weight: normal;
}
.iconmail {
  color: #1793d1;

}

.link-github {
  background-color: #2e3440;
  border-radius: 16px;
  opacity: 0.8;
}
.link-reddit {
  background-color: #e46231;
  border-radius: 16px;
  opacity: 0.8;
}
.link-twitter {
  background-color: #61aad6;
  border-radius: 16px;
  opacity: 0.8;
}
.link-youtube {
  background-color: #df584e;
  border-radius: 16px;
  opacity: 0.8;
}
.link-mail {
  background-color: #ffffff;
  border-radius: 16px;
  opacity: 0.8;
}

.mailbox {
  background-color: #e5e5e5;
  border-radius: 10px;
  margin: 48px 0px 48px 0px;
}
.label_mails {
  color: #404040;
  font-size: 32px;
  font-weight: bold;
  margin: 0px 12px 0px 12px;
}
