/** Power buttons ***************************************/
.btn_logout, .btn_sleep, .btn_reboot, .btn_poweroff {
	font-size : 48px;
	font-weight : bold;
}

.btn_logout {
	color: #BF616A;
}
.btn_sleep {
	color: #A3BE8C;
}
.btn_reboot {
	color: #EBCB8B;
}
.btn_poweroff {
	color: #88C0D0;
}
