/** Uptime ********************************************/
.icontimer {
  color: #b48ead;
  font-size: 80px;
  font-weight: normal;
}

.uphour {
  color: #e5e9f0;
  font-size: 42px;
  font-weight: bold;
}

.upmin {
  color: #e5e9f0;
  font-size: 32px;
  font-weight: bold;
}
