* {
  /* `otf-font-awesome` is required to be installed for icons */
  border-radius: 4px;
  font-family:
    DejaVuSansM Nerd Font Propo,
    feather,
    FontAwesome,
    inconsolatalgc nerd font mono,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 22px;
}

window#waybar {
  background-color: rgba(40, 40, 40, 0.5);
  border-bottom: 0px solid rgba(100, 114, 125, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 4px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

#workspaces {
  margin-bottom: 20px;
}

#workspaces button {
  color: #ffffff;
  padding: 0px 0px;
  background-color: transparent;
  border-radius: 4px;
}

#workspaces button.focused {
  background-color: rgba(248, 187, 208, 0.5);
}

#workspaces button.active {
  background-color: rgba(248, 187, 208, 0.5);
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#battery.closefull,
#battery.warning,
#bluetooth,
#network.wifi,
#network.ethernet,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#custom-screenkbd,
#custom-wlsunset,
#custom-screen-cast,
#mpd {
  padding: 0 4px;
  margin: 3px 6px;
  color: #ffffff;
}

#clock {
  background-color: #64727d;
}

#bluetooth {
  background-color: #ffffff;
  color: #2980b9;
}

#battery.closefull {
  background-color: #ffffff;
  color: #000000;
}

#battery.charging,
#battery.plugged,
#battery.full {
  color: #ffffff;
  background-color: #26a65b;
}

#battery.full {
  font-size: 16px;
}

#custom-screenkbd {
    color: #ffffff;
    background-color: #2278ea;
}

#custom-wlsunset {
    color: #ffffff;
    background-color: #585eaa;
}


#custom-screen-cast.off {
    color: #ffffff;
    background-color: #0097A7;
}

#custom-screen-cast.on {
    color: #E91E63;
    background-color: #0097A7;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}

#disk {
  background-color: #964b00;
}

#backlight {
  background-color: #90b1b1;
}

#pulseaudio {
  font-size: 24px;
  background-color: #f1c40f;
  color: #000000;
}

#pulseaudio.muted {
  font-size: 24px;
  background-color: #90b1b1;
  color: #2a5c45;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#taskbar button.active {
  background-color: rgba(248, 187, 208, 0.5);
}

#custom-logo {
  font-size: 24px;
  color: #1793d1;
}

#network.wifi,
#network.ethernet {
  font-size: 24px;
  background-color: rgba(144, 164, 174, 0.5);
  color: #00e676;
}
